body
  overflow: hidden
  background: gray
  margin-top: 15px

#content
  width: 60%
  margin-left: 10%

$gridSize: 25px

.toggle
  position: absolute

span
  font-family: arial
  font-size: 15px

.grid
  text-align: center
  background-color: grey

.wall, .empty, .player, .darkness, .enemy, .health, .boss, .weapon
  display: inline-block
  width: $gridSize
  height: $gridSize

.wall
  background: url("../public/gray_mini_bricks.png")
  background-size: $gridSize $gridSize

.empty
  background-color: white

.row
  white-space: nowrap
  height: $gridSize
  background: gray

.darkness
  background: black

.player
  background: url("../public/player.png")
  background-size: $gridSize $gridSize

.enemy
  background: url("../public/spider.png")
  background-size: $gridSize $gridSize

.health
  background: url("../public/health.png")
  background-size: $gridSize $gridSize

.weapon
  background: url("../public/weapon.png")
  background-size: $gridSize $gridSize

.boss
  background: url("../public/boss.png")
  background-size: $gridSize $gridSize

